@font-face{
    font-family: lacquer;
    src: url(Fonts/Lacquer-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: black;
}

body {
    color: white;
    font-family: lacquer, 'Times New Roman', Times, serif;
}

#gameTitle{
    font-size: 74px;
    text-align: center;
    margin: 56px auto 52px auto;
    text-shadow: 0 0 10px cyan;
}

.introTxt{ 
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    text-align: center;
    padding: 0 10px;
}

#livesTable{
    font-size: 28px;
    text-align: center;
    padding: 20px 10px;
    margin: 30px 0 35px 0;
    text-shadow: 0 0 10px cyan;
}

#chosenGestsDiv{
    display: flex;
    justify-content: center;
    max-width: 500px;
    height: 400px;
    margin: 0 auto;
    position: relative;

}

.gest{
    display: flex;
    justify-content: center;
    align-items: center;
}

#chosenGestsDiv > .gest{
    background-image: radial-gradient(
     black, 
     rgba(0, 255, 255, 0.3)
     );
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#uChosenGest{
    position: absolute;
    bottom: 8px;
    left: 38px;
}

#tChosenGest{
    position: absolute;
}

#fChosenGest{
    position: absolute;
    bottom: 8px;
    right: 38px;
}

#scoreRecordDiv{
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    margin: 5px 5px 35px 5px;
    flex-direction: column;
}

.board{
    display: flex;
    justify-content: center;
}

#playersDiv > span{
    font-size: 22px;
    margin: 0 20px;
} 

#scoresDiv > span{
    font-size: 74px;
    margin: 0 28px;
    text-shadow: 0 0 10px cyan;
} 

#chooseUrWpnMSG{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    padding: 0px 12px;
}

#gestOptionsDiv{
    display: flex;
    justify-content: center;
}

#gestOptionsDiv > .button{
    transition: transform 0.3s, box-shadow 0.4s;
}

#gestOptionsDiv > .button:hover{
    cursor: pointer;
    background-color: black;
    transform: scale(1.2);
    box-shadow: 0 0 15px 1px;
}

#gestOptionsDiv > .gest{
    border: solid 1px whitesmoke;
    height: 120px;
    width:120px;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
}

.gest > img{
    height: 95%;
    width: auto;
    align-items: center;
    border-radius: 3%;
}

.weaponInfo{
    text-align: center;
    display: none;
    position: absolute;
    margin-top: 85px;
    font-size: 12px;
    text-shadow: 0 0 5px black;
}

.toGreen{
    color: greenyellow;
}

.toRed{
    color: red;
}

#roundOutcomeMSG{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    padding: 20px 10px;
    margin-bottom: 75px;
}

#endGamePage{
    font-size: 48px;
    text-align: center;
    text-shadow: 0 0 10px cyan;
    margin: 0 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
}

#introTxt1Div{
    max-width: 792.8px;
    margin: 0 auto;
}

#introTxt2Div{
    max-width: 781.4px;
    margin: 0 auto;
}

#introTxt3Div{
    max-width: 921px;
    margin: 0 auto;
}

#introTxt4Div{
    max-width: 744.8px;
    margin: 0 auto;
}

/*
#introTxt1, #introTxt2,
#introTxt3, #introTxt4 {
    overflow: hidden; 
    white-space: nowrap; 
    opacity: 0;
}

#introTxt1 {
    animation: typing 3.5s linear;
    opacity: 1;
}

#introTxt2 {
    animation: typing 3.5s linear 3.5s;
    animation-fill-mode: forwards;
}

#introTxt3 {
    animation: typing 4.5s linear 6.5s;
    animation-fill-mode: forwards;
}

#introTxt4 {
    animation: typing 3.5s linear 10.5s; 
    animation-fill-mode: forwards;
}

@keyframes typing {
    0% { 
        width: 0;
        opacity: 0;
    }100% { 
        width: 100%; 
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }100%{
        opacity: 0;
    }
}

main{
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-delay: 15.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

#gameTitle, #livesTable {
    transform: translateY(-1500px);
    animation-name: fall;
    animation-delay: 15s;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.25, 1.10);
    animation-fill-mode: forwards;
}

@keyframes fall {
    0% {
        transform: translateY(-150px);  
    }
    100% {
        transform: translateY(0px);
    }
}